certifi
charset-normalizer
click
colorama
cycler
et-xmlfile
Flask
fonttools
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
openpyxl
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
requests
scikit-learn
scikit-plot
scipy
six
threadpoolctl
urllib3
Werkzeug
